
//studentform.css
body {
  font-family: Arial, sans-serif;
  background-color :#fff0f5;
  padding: 30px;
  align-items: center;
  background-repeat:no-repeat;
  
}

h2 {
  text-align: center;
  color: #333;
  
}

form {
  background-color: #dde2e4;
  width:700px;
  padding: 30px;
  height: 1065px;
  border-radius: 5px 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
 
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
button {
  width: 100%;
  padding: 10px;
  margin: 5px 0 20px;
  border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="radio"] {
  margin-left: 10px;
  
  
}

button {
  background-color:  #d2691e;
  color: white;
  border: none;
  cursor: pointer;
  width: 300px;

}

button:hover {
  background-color: #d2691e;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
a{
  color:black;
  font-weight: bold;
  text-decoration: none;
  margin-left:20px;

}
.container
{
display: flex;
justify-content: space-around;
margin-right: 300px;
align-items: center;

 
}